{% extends 'core/base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Выберите/создайте чат</h1>
</div>

<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
        <div class="w-full lg:w-1/4 px-3 py-3">
            <div class="p-4 bg-white shadow rounded-xl text-center">
                <a href="{% url 'room' room.slug %}" class="mb-5 text-2xl font-semibold">{{ room.name }}</a>

<!--                <a href="{% url 'room' room.slug %}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Join</a>-->
            </div>
        </div>
    {% endfor %}
</div>

<div class="w-full flex flex-wrap items-center">
    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <input id="room-name-input" type="text" placeholder="Введите название чата" size="40">
            <input id="room-name-submit" class="px-3 py-2 rounded-xl text-white bg-teal-600 hover:bg-teal-700" type="button" value="Enter">
        </div>
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/rooms/' + roomName + '/';
    };
</script>
{% endblock %}